card{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: start;
}
.cardEach {
    width: 31.3%;
    box-sizing: border-box;
}

.list-item-wrapper {
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.list-item-wrapper span {
    grid-column: 1 / 12;
}
    

